/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Large devices adjustements */
@media (min-width: 1025px) {
    .search_bar {
        margin-bottom: 20px;
    }

    .populaires-cards article img{
                height: 125px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width:768px) {
    .populaires-cards article img{
                height: 120px;
            }

    body{
        margin-left: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards .card,.activites-cards img {
        height: auto;
        max-width: 100%;
    }

    .activites-cards .card {
        max-width: 193.5px;
        height: 270px;
    }
    
    .activites-cards img {
        height: 200px;
        max-width: 100%;
    }
    
    .activites .fort img {
        width: 193.5px;
        height: 200px;

    }

   
    .filters {
        margin-left: -10px;
        display: flex;
    }
    
    .filters .filter {
        margin-right: 10px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .populaires-cards article img{
                height: 170px;
            }

    .introduction {
        padding-left: 20px;
    }

    .introduction .formulaire {
        padding: 0;
    }

    .introduction .information {
        padding-left: 0;
    }

    body{
        margin-left: 0;
    }

    header {
        padding: 0;
    }

    .container {
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
        position: relative;
        height: 50px;
    }

    .nav {
        width: 100%;
    }

    nav a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
        
    nav .heb {
        margin: 0px 0px 20px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #f2f2f2;
    }

    nav .heb:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    nav .act {
        margin: 0px 0px 20px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #f2f2f2;
    }

    nav .act:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }


    .accroche .bold {        
        font-size: 25px;
    }

    .search-area input::placeholder {
        color: #000;
    }

    .search-button {
        display: none;
    }

    .search {
        display: inline;
        border: 1px #0065FC solid;
        padding: 10px 10px 10px 10px;
        font-size: large;
        font-weight: bold;
        background-color: #0065FC;
        border-radius: 10px;
        height: 20px;
        box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    }

    .filtres {
        padding: 0;
        flex-direction: column;
    }

    .filters {
        max-width: 550px;
        padding: 0px;
        flex-wrap: wrap;
    }

    .main-container {
        width: 100%;
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        padding: 4%;
        width: 100%;
        background-color: transparent;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards {
            position: static;
            flex-direction: column;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards a {
            width: 100%;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card {
            min-height: 300px;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card img {
            height: 150px;
        }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card .card-content {
            width: 67%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card .card-content .card-txt .card-title {
            font-size: 25px;
        }
                
    .hebergements-and-populaires .hebergements .hebergements-cards a .card .card-content .card-txt .card-subtitle {
            font-size: 20px;
        }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card .card-content .card-rating {
            position: relative;
            transform: translateY(150%);
    }

    .hebergements-and-populaires .hebergements .hebergements-cards a .card .card-content .card-rating i {
            font-size: 20px;
        }

    .hebergements-and-populaires .hebergements .hebergements-plus {
            font-size: 20px;
        }
    
    .hebergements-and-populaires .populaires {
        padding: 4%;
        width: 100%;
        border-radius: 0;
    }

    .hebergements-and-populaires .populaires .populaires-cards {
        flex-direction: column;
    }

    .hebergements-and-populaires .populaires .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .populaires .populaires-cards a .card {
        height: 33%;
    }

    
    .hebergements-and-populaires .populaires .populaires-cards a .card .card-content .card-txt .card-title {
        font-size: 20px;
        width: 50%;
    }
    
    .hebergements-and-populaires .populaires .populaires-cards a .card .card-content .card-txt .card-subtitle {
        font-size: 20px;
    }

    .hebergements-and-populaires .populaires .populaires-cards a .card .card-content .card-rating i {
        font-size: 20px;
    }

    .activites {
        padding: 6%;
    }

    .activites .activites-title {
        margin-left: 0;
    }

    .activites .activites-title .activites-cards {
        flex-direction: column;
        width: inherit;
    }

    .activites .activites-title .activites-cards a{
        margin-left: 0;
    }

    .activites .activites-title .activites-cards a .card {
        height: 310px;
        max-width: 100%;
    }
    
    .activites .activites-title .activites-cards a .card img {
        height: 250px;
    }

    .activites .activites-title .activites-cards a .card .port img, .fort img {
        background-position: center;
        width: 100%;
    }

    .main-footer {
        flex-direction: column;
        font-size: larger;
    }
    .main-footer .bold {
        font-size: larger;
        margin: 15px 0 15px 0;
    }

    .main-footer .text {
        margin: 0px;
    }

    .main-footer .about {
        width: 100%;
    }

    .main-footer .housings {
        width: 100%;
    }

    .main-footer .assistance {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
    }

    .activites-cards .card {
        min-width: 100%;
    }

    .heb, .act {
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
    }

    .heb:hover, .act:hover {
        border-top: white;
        border-bottom:2px solid #0065FC;
    }
    
}