/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width:768px) {
    body{
        margin-left: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards .card,.activites-cards img {
        height: auto;
        max-width: 100%;
    }

    .activites-cards .card {
        max-width: 193.5px;
        height: 270px;
    }
    
    .activites-cards img {
        height: 200px;
        max-width: 100%;
    }
    
    .activites .fort img {
        width: 193.5px;
        height: 200px;

    }

   
    .filters {
        padding: 0px;
        display: flex;
        justify-content: space-around;
        .filter {
            margin: 0;
        }
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body{
        margin-left: 0;
    }

    header {
        padding: 0;
    }

    .container {
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
        position: relative;
        height: 50px;
    }

    .nav {
        width: 100%;

        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .heb {
            margin: 0px 0px 20px 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid #f2f2f2;
        }

        .heb:hover {
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }

        .act {
            margin: 0px 0px 20px 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid #f2f2f2;
        }

        .act:hover {
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }

    }

    .accroche .bold {        
        font-size: 25px;
    }

    .search-area input::placeholder {
        color: #000;
    }

    .search_bar {
        justify-content: center;
    }

    .search-button {
        display: none;
    }

    .search {
        display: inline;
        border: 1px #0065FC solid;
        padding: 10px 10px 10px 10px;
        font-size: large;
        font-weight: bold;
        background-color: #0065FC;
        border-radius: 10px;
        height: 20px;
        box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    }

    .filtres {
        padding: 0;
        flex-direction: column;
    }

    .filters {
        max-width: 550px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-container {
        width: 100%;
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;

        .hebergements {
            width: 100%;
            background-color: transparent;

            .hebergements-cards {
                flex-direction: column;

                a {
                    width: 100%;

                    .card {
                        min-height: 300px;

                        img {
                            height: 150px;
                        }

                        .card-content {
                            .card-txt .card-title {
                                font-size: 25px;
                                width: 50%;
                            }
                            
                            .card-txt .card-subtitle {
                                font-size: 20px;
                            }
    
                            .card-rating {
                                position: relative;
                                transform: translateY(150%);
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .hebergements-plus {
                font-size: 20px;
            }
        }

        .populaires {
            width: 100%;
            border-radius: 0;

            .populaires-cards {
                flex-direction: column;

                a {
                    width: 100%;

                    .card {
                        height: 33%;
                    }

                    .card .card-content {
                        .card-txt .card-title {
                            font-size: 20px;
                            width: 50%;
                        }
                        
                        .card-txt .card-subtitle {
                            font-size: 20px;
                        }

                        .card-rating i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .activites {
        width: 100%;

        .activites-title {
            position: relative;
            left: 5%;
        }

        .activites-cards {
            flex-direction: column;
            width: inherit;

            a .card {
                max-width: 100%;

                .port img, .fort img {
                    background-position: center;
                    width: 100%;
                }
            }
        }
    }

    .main-footer {
        flex-direction: column;
        font-size: larger;

        .bold {
            font-size: larger;
            margin: 15px 0 15px 0;
        }

        .text {
            margin: 0px;
        }

        .about {
            width: 100%;
        }

        .housings {
            width: 100%;
        }

        .assistance {
            width: 100%;
        }
    }
}